<h1>Add a New Pet</h1>
<form action="/pets/add" method="POST">
  <label for="name">Enter Pet Name: </label>
  <input type="text" name="name" placeholder="Enter Name" /><br />

  <label for="photo">Enter Pet Photo: </label>
  <input type="text" name="photo" placeholder="Enter Photo URL" /><br />

  <label for="description">Enter Pet Details: </label>
  <input type="text" name="description" placeholder="Enter Details" /><br />

  <button type="submit">Add Pet</button>
</form>